
{% block css %}
<style>
    .card {
        margin-bottom: 20px;
    }

    .card-text {
        white-space: pre-line;
    }

    .card-body {
        padding: 15px;
    }

    @media (max-width: 768px) {
        .card-body {
            padding: 10px;
        }
    }
</style>

{% endblock %}

 <a href="#" class="btn btn-fill-out btn-sm " 
          data-bs-toggle="modal" 
          data-bs-target="#LeasingDetailModal{{row.idclientleasing}}" >
           View
</a>

<!-- Modal -->
<div class="modal fade Leasingdetail" id="LeasingDetailModal{{row.idclientleasing}}" tabindex="-1" aria-labelledby="LeasingDetailModalLabel" aria-hidden="true">
  <div class="modal-dialog modal modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="LeasingDetailModalLabel">{{ modal_header }}</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card mb-6" style="max-width: 100%;">
          <div class="row g-0">
            <div class="col-md-12">
              <div class="card-body">
                <div class="row">
                  
                    <div class="card ">
                      <div class="card-header text center">
                          <strong>  Info CLient: {{ modal_header }}</strong>
                      </div>
                      <div class="card-body">

                        <p class="card-text"><strong>Nom du client:</strong> {{ row.nom }}</p>
                        <p class="card-text"><strong>Ref Contrat:</strong> {{ row.refcontrat }}</p>
                        <p class="card-text"><strong>Durée Contrat:</strong> {{ row.duree_contrat }}</p>
                                                    <br>Contact: {{ row.contact }}
                                                    <br>email: {{ row.email }}
                                                    <br>Adresse: {{ row.adresse }}
                                                  <br><strong>{{ row.localite }}</strong> 
                      </div>
                    </div>
                 
                </div>
               </div>
            </div>
          </div>
        </div>
      </div>
     
      <div class="modal-footer">
        <button class="btn btn-primary leasing" data-url="{% url 'leasing:client-update' row.idclientleasing  %}" id="" >Modifier</button>
        <button class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close" >Fermer</button>
      </div>
    </div>
  </div>
</div>

