{% load price_filter %}
{% load static %}
<!--  Bootstrap CSS
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
-->
<header  class="header_wrap fixed-top header_with_topbar active">
   
    <div  class="top-header" style="">
     <div  class="container">
         <div  class="row align-items-center">
             <div  class="col-md-5">
                 <div 
                     class="d-flex align-items-center justify-content-center justify-content-md-start">
                    <!--
                    <div  class="me-3">
                       
                         <div class="ddOutOfVision" id="msdrpdd20_msddHolder"
                             style="height: 0px; overflow: hidden; position: absolute;"><select
                                  name="countries" class="custome_select" id="msdrpdd20"
                                 tabindex="-1">
                                 <option  value="USD" data-title="USD"
                                     ng-reflect-value="USD">USD</option>
                                 <option  value="EUR" data-title="EUR"
                                     ng-reflect-value="EUR">EUR</option>
                                 <option  value="GBR" data-title="GBR"
                                     ng-reflect-value="GBR">GBR</option>
                             </select>
                        </div>
                           <div class="dd ddcommon borderRadius" id="msdrpdd20_msdd" tabindex="0" style="width: 52px;">
                                <div class="ddTitle borderRadiusTp"><span class="divider"></span><span
                                        class="ddArrow arrowoff"></span><span class="ddTitleText "
                                        id="msdrpdd20_title"><span class="ddlabel">USD</span><span class="description"
                                            style="display: none;"></span></span>
                                </div>
                                <input id="msdrpdd20_titleText"
                                   type="text" autocomplete="off" class="text shadow borderRadius"
                                    style="display: none;">
                                <div class="ddChild ddchild_ border shadow" id="msdrpdd20_child"
                                        style="z-index: 9999; display: none; position: absolute; visibility: visible; height: 99px;">
                                        <ul>
                                            <li class="enabled _msddli_ selected" title="{{request.session.currency}}"><span
                                                    class="ddlabel">{{request.session.currency}}</span>
                                                <div class="clear"></div>
                                            </li>
                                            <li class="enabled _msddli_" title="EUR"><span class="ddlabel">EUR</span>
                                                <div class="clear"></div>
                                            </li>
                                            <li class="enabled _msddli_" title="GBR"><span class="ddlabel">GBR</span>
                                                <div class="clear"></div>
                                            </li>
                                        </ul>
                                </div>
                          </div>
                     </div> 
                        -->    
                        
                    
                   
                     <ul  class="contact_detail text-center text-lg-start">
                        <li ><i  class="ti-credit-card"></i> <span
                                >{{request.session.currency}}</span></li>
                    </ul>  
                    <ul  class="contact_detail text-center text-lg-start">
                         <li ><i  class="ti-mobile"></i><span
                                 >{{request.session.phone}}</span></li>
                    </ul>
                 </div>
             </div>
             <div  class="col-md-7">
                 <div  class="text-center text-md-end">
                     <ul  class="header_list">
                         <li ><a  routerlink="/compare"
                                 ng-reflect-router-link="/compare" href="/compare"><i 
                                     class="ti-control-shuffle"></i><span
                                     >Compare</span></a></li>
                         <li ><a  routerlink="/wishlist"
                                 ng-reflect-router-link="/wishlist" href="/wishlist"><i 
                                     class="ti-heart"></i><span >Wishlist</span></a>
                        </li>
                        {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'dashboard:dashboard' %}">
                                <i class="ti-user"></i><span >Dashboard</span>
                            </a>
                         </li>
                         <li>
                            <a href="{% url 'serviceapresvente:savrequest' %}">
                                <!--
                                    <i class="fas fa-toolbox"></i><span >SAV/leasing</span>
                                -->
                                <i class="ti-menu"></i><span >SAV/leasing</span>
                            </a>
                            </a>
                         </li>
                         <!--
                            <li>
                                <form id="logout-form" action="{% url 'accounts:logout_user' %}" method="POST">
                                    {% csrf_token %}
                                    <a href="#" onclick="document.getElementById('logout-form').submit()">
                                        <i class="ti-user"></i><span >Logout</span>
                                    </a>
                                </form>
                            </li>
                         -->
                             <!-- Notification -->
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle ti-bell" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                <h6 class="dropdown-header d-flex align-items-center">
                                    
                                    <div class="dropdown-user-details">
                                        <div class="dropdown-user-details-name">Actions en attente</div>
                                        
                                    </div>
                                </h6>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">
                                    <div class="dropdown-item-icon"><i class="ti-themify-favicon"></i><span > SAV (5)</span></div>
                                </a>
                                <a class="dropdown-item" href="#">
                                    <div class="dropdown-item-icon"><i class="ti-themify-favicon"></i><span > Instance(1)</span></div>
                                </a>
                                <a class="dropdown-item" href="#">
                                    <div class="dropdown-item-icon"><i class="ti-themify-favicon"></i><span > leasing (0)</span></div>
                                </a>
                               
                            </div>
                        </li>
                        <!-- User Dropdown-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="dropdown-user-img" src="{% if request.user.profile.photoUrl  %}{{ request.user.profile.photoUrl }}{% else %}{% static 'media/default/profile-4.png' %}{% endif %}" alt="{{request.user}}" style="width: 30px; height: 30px; border-radius: 50%;">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                <h6 class="dropdown-header d-flex align-items-center">
                                    <img class="dropdown-user-img" src="{{request.user.profile.photoUrl }}" alt="{{request.user}}" style="width: 40px; height: 40px; border-radius: 50%;">
                                    <div class="dropdown-user-details">
                                        <div class="dropdown-user-details-name">{{request.user}}</div>
                                        <div class="dropdown-user-details-email">{{request.user.email}}</div>
                                    </div>
                                </h6>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">
                                    <div class="dropdown-item-icon " 
                                    id="ForProfileUpdate"
                                           data-url="{% url 'accounts:profile' %}">
                                        <i class="ti-settings"></i><span > Account</span> </div>
                                </a>
                                <a class="dropdown-item" href="#" onclick="document.getElementById('logout-form').submit()">
                                    <form id="logout-form" action="{% url 'accounts:logout_user' %}" method="POST">
                                        {% csrf_token %}
                                    <i class="ti-user"></i><span >Logout</span>
                                                                       
                                    </form>
                               
                                </a>
                            </div>
                        </li>
                        {% else %}

                        <li >
                            <a href="{% url 'accounts:sign_in'%}">
                                <i class="ti-user"></i><span >Signin</span>
                            </a>
                            </li>
                            <li ><a href="{% url 'accounts:sign_up'%}">
                            <i class="ti-user"></i><span >Signup</span>
                            </a>
                            </li>
                        {% endif %}
                           <li ></li>
                     </ul>
                 </div>
             </div>
         </div>
     </div>
 </div>
 <div  class="bottom_header dark_skin main_menu_uppercase">
     <div  class="container">
         <nav  class="navbar navbar-expand-lg"><a 
                 routerlink="/" class="navbar-brand" ng-reflect-router-link="/" href="/">
                 <h2 >{{request.session.name}}</h2>
             </a><button  type="button" data-bs-toggle="collapse"
                 data-bs-target="#navbarSupportedContent" aria-expanded="false"
                 class="navbar-toggler collapsed"><span 
                     class="ion-android-menu"></span></button>
             <div  id="navbarSupportedContent"
                 class="navbar-collapse justify-content-end collapse" style="">
                 <ul  class="navbar-nav">
                     <li  class="dropdown"><a  routerlink="/"
                             class="nav-link" href="/">Home</a></li>
                     <li  class="dropdown"><a  href="#"
                             data-bs-toggle="dropdown" class="dropdown-toggle nav-link active"
                             aria-expanded="false">Pages</a>
                         <div  class="dropdown-menu">
                             <ul >
                                {% for page in request.session.head_pages %}
                                 <li ><a href="{% url 'shop:display_page' page.slug %}">{{page.name}}
                                      </a>
                                </li>
                                {% endfor %}                                          
                             </ul>
                         </div>
                     </li>
                     <li  class="dropdown dropdown-mega-menu"><a
                              href="#" data-bs-toggle="dropdown"
                             class="dropdown-toggle nav-link" aria-expanded="false">Products</a>
                         <div  class="dropdown-menu">
                             <ul  class="mega-menu d-lg-flex">
                                {% for category in request.session.my_mega_categories %}
                        
                                 <li  class="mega-menu-col col-lg-3">
                                     <ul >
                                         <li  class="dropdown-header">{{category.name}}</li>
                                         {% for product  in category.product %}
                                            <li class="d-flex align-items-center p-1"> 
                                                <img src="{{product.image}}" height="25" width="25" alt="{{product.name}}">
                                            <a class="dropdown-item nav-link nav_item p-2"
                                                 ng-reflect-router-link="/,product,bikini-unicolore-cte"
                                                 href="{% url 'shop:single_product' product.slug %}">{{product.name}}</a>
                                                </li>
                                           {% endfor %}     
                                     </ul>
                                 </li>
                                 {% endfor %}
                                 
                             </ul>
                             {% comment %} <div  class="d-lg-flex menu_banners row g-3 px-3">
                                 {% for collection in request.session.my_navcollection  %}
                                    <div  class="col-sm-4">
                                     <div  class="header-banner">
                                          <img alt="{{ collection.title }}"
                                             src="{{ collection.imageUrl }}">
                                         <div  class="banne_info">
                                             <h6 >{{ collection.description }}</h6>
                                             <h4 >{{ collection.title }}</h4>
                                             <a href="{{ collection.button_link }}">{{collection.button_text}}
                                              </a>
                                         </div>
                                     </div>
                                 </div>
                                {% endfor %}
                                </div> {% endcomment %}

                                {% comment %} <div class="container px-3">
                                <div class="row g-3">
                                    {% for collection in request.session.my_navcollection %}
                                    <div class="col-lg-4 col-md-6">
                                        <div class="card">
                                            <img src="{{ collection.imageUrl }}" class="card-img-top" alt="{{ collection.title }}">
                                            <div class="card-body">
                                                <h6 class="card-subtitle mb-2 text-muted">{{ collection.description }}</h6>
                                                <h5 class="card-title">{{ collection.title }}</h5>
                                                <a href="{{ collection.button_link }}" class="btn btn-primary">{{ collection.button_text }}</a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div> {% endcomment %}
                         </div>
                     </li>
                     <li  class="dropdown dropdown-mega-menu">
                        <a class="nav-link" href="{% url 'shop:shop_list' %}">Shop</a></li>
                     <li ><a  routerlink="/contact"
                             class="nav-link nav_item" ng-reflect-router-link="/contact" href="/contact">Contact
                             Us</a></li>
                 </ul>
             </div>
             <ul  class="navbar-nav attr-nav align-items-center">
                <li>
                    <input type="text" placeholder="Search" id="search_input" class="form-control" onkeyup="performSearch(this.value)">

                </li>
                  
                 <li  class="dropdown cart_dropdown"><a 
                         href="#" data-bs-toggle="dropdown" class="nav-link cart_trigger"><i
                              class="linearicons-cart"></i><span
                              class="cart_count">{{ cart_data.cart_count }}</span></a>
                     <div  class="cart_box dropdown-menu dropdown-menu-right">
                         <ul  class="cart_list">
                             {% for item  in cart_data.items %}
                             <li ><a  href="{% url 'shop:remove_from_cart' item.product.id item.quantity %}" class="item_remove"><i  class="ion-close"></i>
                                    </a>
                                    <a  href="#"><img 
                                         width="50" height="50" alt="{{item.product.name }}"
                                         src="{{ item.product.image }}">{{item.product.name }}</a>
                                         <span  class="cart_quantity"> {{item.quantity }} x
                                                <span  class="cart_amount">
                                                    <span class="price_symbole">{{item.product.solde_price|format_price }}
                                                    </span>
                                                </span>
                                        </span>
                            </li>
                            {% endfor %}
                        </ul>
                         <div  class="cart_footer">
                            <p  class="cart_total"><strong
                                >Subtotal HT:</strong><span
                                 class="cart_price"><span
                                  class="price_symbole"></span></span>{{ cart_data.sub_total_ht}} 
                            </p>
                            <p  class="cart_total"><strong
                                >Shipping:</strong><span
                                 class="cart_price"><span
                                  class="price_symbole"></span></span>{{ cart_data.shipping_price}} </p>
                            <p  class="cart_total"><strong
                                >Taxe:</strong><span
                                 class="cart_price"><span
                                  class="price_symbole"></span></span>{{ cart_data.taxe_amount}} </p>
                            
                            <p  class="cart_total">
                                <strong >Subtotal TTC:</strong><span
                                     class="cart_price"><span
                                      class="price_symbole"></span></span>{{ cart_data.sub_total_with_shipping}} </p>
                             <p  class="cart_buttons">
                            <a routerlink="/cart" class="btn btn-fill-line view-cart"
                                     ng-reflect-router-link="/cart" href="{% url 'shop:cart'%}">View Cart</a>
                            <a class="btn btn-fill-out checkout" href="{% url 'shop:checkout' %}">Checkout</a></p>
                         </div>
                     </div>
                 </li>
                
             </ul>
         </nav>
     </div>
 </div>

</header>
<!-- Modal -->
<div class="modal fade" id="modalShop" tabindex="-1" aria-labelledby="modalShopLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalShopLabel"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="shop-container" >
          
        </div>
        <div class="modal-footer">
          <!--
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-success save-btn" data-bs-dismiss="modal">Save</button>
          <a href ="#"   id="save-btn" class="btn btn-primary save-btn">Save</a>
          <a href="#" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</a>
        -->  
        </div>
      </div>
    </div>
  </div>
  
   
  
<!-- jQuery and Bootstrap JS -->

{% block script %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>


<script>

$(document).on('click', '#ForProfileUpdate', function(e) {
    //e.preventDefault(); 
    var url = $(this).data('url');
    
     console.log('URL btn id_updateprofile:', url);
      $.ajax({
      url: url,
      type: 'get',
      dataType: 'html',
      success: function(data) {
        $('#shop-container').html(data);
        $('#modalShop').modal('show');
        //alert('success');
      },  
       error: function(data) {
        alert('error:',data)
      }
    });
      
  })

</script>
{% endblock %}


 <script>
    function performSearch(query) {
        if (query.length === 0) {
            console.log("Search query is empty");
            return;
        }
    
        fetch(`/search_products?q=${encodeURIComponent(query)}`)
            .then(response => response.json())
            .then(data => {
                const productList = document.querySelector(".shop_container");
                productList.innerHTML = ""; // Clear current products
    
                let productHTML = "";
                if (data.products.length === 0) {
                    productHTML = `<p>No products available.</p>`;
                } else {
                    data.products.forEach(product => {
                        productHTML += `
                            <div class="col-lg-3 col-md-4 col-6">
                                <div class="product">
                                    <div class="product_img">
                                        <a href="${product.url}">
                                            <img alt="${product.name}" width="150" src="${product.image}">
                                        </a>
                                        <div class="product_action_box">
                                            <ul class="list_none pr_action_btn">
                                                <li class="add-to-cart">
                                                    <a href="${product.add_to_cart_url}">
                                                        <i class="icon-basket-loaded"></i> Add To Cart
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="${product.add_to_compare_url}">
                                                        <i class="icon-shuffle"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="${product.add_to_wishlist_url}">
                                                        <i class="icon-heart"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product_info">
                                        <h6 class="product_title">
                                            <a href="${product.url}">${product.name}</a>
                                        </h6>
                                        <div class="product_price">
                                            <span class="price">${product.solde_price ? `$${product.solde_price}` : ''}</span>
                                            ${product.regular_price ? `<del>$${product.regular_price}</del>` : ''}
                                            <div class="on_sale">
                                                <span>${calculateSoldeRate(product.solde_price, product.regular_price)}</span>
                                            </div>
                                        </div>
                                        <div class="rating_wrap">
                                            <div class="rating">
                                                <div class="product_rate" style="width: 80%;"></div>
                                            </div>
                                            <span class="rating_num">(21)</span>
                                        </div>
                                        <div class="pr_desc">
                                            <p>${product.description}</p>
                                        </div>
                                        <div class="pr_switch_wrap">
                                            <div class="product_color_switch">
                                                <span data-color="#87554B" class="active"></span>
                                                <span data-color="#333333"></span>
                                                <span data-color="#DA323F"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>`;
                    });
                }
    
                productList.innerHTML = productHTML; // Insert the new products
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
    
    function calculateSoldeRate(soldePrice, regularPrice) {
        if (soldePrice && regularPrice) {
            const discount = ((regularPrice - soldePrice) / regularPrice) * 100;
            return `${Math.round(discount)}% Off`;
        }
        return '';
    }
    
  </script>
</header>
