{% load price_filter %}


<!-- Modal -->
<div class="modal fade savdetail" id="SavCommandeDetailModal" tabindex="-1" aria-labelledby="SavCommandeDetailModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="SavCommandeDetailModalLabel">Détails COmmande: {{ commandesav.savrequest.numero_dossier }} -- Client: {{ commandesav.savrequest.client_sav.name }}</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <div class="card mb-3" style="max-width: 1800px;">
          <div class="row g-0">
            <div class="col-md-5">
              <div id="imageContainer{{commandesav.idcommandesav}}">
                {% if commandesav.savrequest.rapport_technique %} 
                    <img src="{{ commandesav.savrequest.rapport_techniqueUrl }}" class="img-fluid rounded-start" alt="Rapport Technique" onclick="zoomImage(this)">
                {% elif commandesav.savrequest.facture_proforma %}
                    <img src="{{ commandesav.savrequest.facture_proformaUrl }}" class="img-fluid rounded-start" alt="Facture Proforma" onclick="zoomImage(this)">
                {% elif commandesav.savrequest.facture_fournisseur %}
                    <img src="{{ commandesav.savrequest.facture_fournisseurUrl }}" class="img-fluid rounded-start" alt="Facture Fournisseur" onclick="zoomImage(this)">
                {% else %}
                    <p>Aucune image disponible</p>
                {% endif %}
              </div>
              <div class="d-flex justify-content-between mt-2">
                <button class="btn btn-secondary" onclick="changeImage('prev', {{ commandesav.idcommandesav }})">Précédent</button>
                <button class="btn btn-secondary" onclick="changeImage('next', {{ commandesav.idcommandesav }})">Suivant</button>
              </div>
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="card ">
                    <div class="card-header text center">
                    <strong> Info du Client</strong>
                    </div>
                      <div class="card-body">
                        <p class="card-text"><strong>Nom du client:</strong> {{ commandesav.savrequest.client_sav }}</p>
                        <p class="card-text"><strong>Email:</strong> {{ commandesav.savrequest.client_sav.email }}</p>
                        <p class="card-text"><strong>Adresse:</strong> {{ commandesav.savrequest.client_sav.adresse }}</p>
                        <p class="card-text"><strong>Téléphone:</strong> {{ commandesav.savrequest.client_sav.telephone }}</p>
                        <p class="card-text"><strong>Resp du dossier:</strong> {{ commandesav.savrequest.resp_sav }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card ">
                    <div class="card-header text-center">
                    <strong>Info Achat</strong>
                    </div>
                      <div class="card-body">
                         <p class="card-text"><strong><Datag>Date requete</Datag>:</strong> {{ commandesav.created_at }}</p>
                         <p class="card-text"><strong>Fournisseur:</strong> {{ commandesav.fournisseur }}</p>
                         <p class="card-text"><strong>Delai:</strong> {{ commandesav.nombre_jour }}</p>
                         <p class="card-text"><strong>Statut:</strong> {{ commandesav.statut }}</p>
                         <p class="card-text"><strong>Observation:</strong> {{ commandesav.commentaire }}</p>
                        </div>
                         
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <form class="d-none"  id ="CommandeSavForm{{commandesav.idcommandesav}}"
                       method="POST"
                       action="{% url 'serviceapresvente:commandesav-update' commandesav.idcommandesav %}"   >
                       {% csrf_token %}
                    <div class="card">
                        <div class="card-header text-center">
                          <strong>Update Achat</strong>
                          <div class="card-body">
                        </div>
                          <p>Mise a jours info update</p>  
                            <input type="hidden" name="_method" value = "PUT">
                            <input type="hidden" name="idcommandesav" id="id_idcommandesav{{commandesav.idcommandesav}}" value="{{commandesav.idcommandesav}}">
                            <div id="ajaxDataForm"> 
                              {{ formCommandeUpd }}
                            </div>
                            <a  id="CommandesavUpdData"
                            href="{% url 'serviceapresvente:commandesav-update' commandesav.idcommandesav %}"
                            class="btn btn-primary">Modifier</a>
                            <button  id="savdetaildelete" class="btn btn-secondary">cancel</button>
                        </div>
                        </div>
                    </div>
                  </form>  
                </div>
            </div>
          </div>
          
        </div>
        <!-- Modal for Zoom Image -->
        <div class="modal fade" id="zoomModal" tabindex="-1" aria-labelledby="zoomModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
              <div class="modal-body">
                <img id="zoomImage" src="" class="img-fluid" alt="Zoom Image">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
              </div>
            </div>
          </div>
        </div>
        <p class="card-text"><small class="text-muted">Dernière mise à jour: {{ commandesav.updated_at }}</small></p>
        
      </div>
     
      <div class="modal-footer">
      <!-- <a href="{% url 'serviceapresvente:commandesav-update' commandesav.idcommandesav %}" 
              class="btn btn-fill-out"
              onclick="CommandeSavFormDisplayFunction({{commandesav.idcommandesav}})"
               id="CommandeSavBtnUpd">Update</a>-->
           <button id="CommandeSavBtnUpd" class="btn btn-primary"
           data-url="{% url 'serviceapresvente:commandesav-update' commandesav.idcommandesav %}" >Modifier</button> 
           <button  id="CommandeSavBtnDel" class="btn btn-secondary">cancel</button>
      </div>
    </div>
  </div>
</div>

{% block script %}
<script>
$(document).ready(function() {
  const images = {
    rapport: "{{ commandesav.savrequest.rapport_techniqueUrl|escapejs   }}",
    proforma: "{{ commandesav.savrequest.facture_proformaUrl|escapejs  }}",
    fournisseur: "{{ commandesav.savrequest.facture_fornisseurUrl|escapejs  }}"
  };
  //console.log('images:',images)
  let currentIndex = 0;
  const imageKeys = Object.keys(images).filter(key => images[key]);
  //console.log('imageKeys:',imageKeys)

  //function changeImage(direction, requestId) {
  window.changeImage = function(direction, requestId) {
    console.log('requestId:',requestId)
   
    if (direction === 'next') {
      currentIndex = (currentIndex + 1) % imageKeys.length;
    } else if (direction === 'prev') {
      currentIndex = (currentIndex - 1 + imageKeys.length) % imageKeys.length;
    }
    const imageContainer = document.getElementById(`imageContainer${requestId}`);
    imageContainer.innerHTML = `<img src="${images[imageKeys[currentIndex]]}" class="img-fluid rounded-start" alt="Image" onclick="zoomImage(this)">`;
  }
  //window.changeImage = changeImage; // Make the function globally accessible
  function zoomImage(img) {
    var modal = new bootstrap.Modal(document.getElementById('zoomModal'));
    document.getElementById('zoomImage').src = img.src;
    modal.show();
  }
  window.zoomImage = zoomImage;
  
  /*********************/ 
  })
</script>

<script>

  $(document).on('click', '#CommandeSavBtnUpd', function(){
    var CommandeSavDisplayForm = document.querySelector('form#CommandeSavForm{{commandesav.idcommandesav}}')
    if (CommandeSavDisplayForm) {
    CommandeSavDisplayForm.classList.toggle('d-none')
    var url = $(this).data('url');
    console.log('url:',url)
    //var savrequestField = CommandeSavDisplayForm.querySelector('#id_savrequest'); // Select the savrequest field
    var idCommandesavField = CommandeSavDisplayForm.querySelector('#id_idcommandesav{{commandesav.idcommandesav}}');
    var savrequestField = CommandeSavDisplayForm.querySelector('#id_savrequest');
    var fournisseurField = CommandeSavDisplayForm.querySelector('#id_fournisseur');
    var nombreJourField = CommandeSavDisplayForm.querySelector('#id_nombre_jour');
    var statutField = CommandeSavDisplayForm.querySelector('#id_statut');
    var commentaireField = CommandeSavDisplayForm.querySelector('#id_commentaire');

    console.log('savrequestField:',savrequestField)
    if (savrequestField) {
      
      idCommandesavField.value = '{{commandesav.idcommandesav}}' ; // Ensure the hidden field is populated
      
      savrequestField.value = '{{commandesav.savrequest}}'; // Prepopulate the savrequest field
      savrequestField.setAttribute('disabled', true); // Disable the savrequest field
      savrequestField.classList.add('grayed-out');

      fournisseurField.value = '{{commandesav.fournisseur}}';
      nombreJourField.value = '{{commandesav.nombre_jour}}';
      statutField.value = '{{commandesav.statut}}';
      commentaireField.value = '{{commandesav.commentaire}}';
     
        /*  $.ajax({
                  url: url,
                  type: 'get',
                  dataType: 'html',
                  success: function(data) {
                    console.log('data:',data)
                    var savrequestField = CommandeSavDisplayForm.querySelector('#id_savrequest');
                    var fournisseurField = CommandeSavDisplayForm.querySelector('#id_fournisseur');
                    var nombreJourField = CommandeSavDisplayForm.querySelector('#id_nombre_jour');
                    var statutField = CommandeSavDisplayForm.querySelector('#id_statut');
                    var commentaireField = CommandeSavDisplayForm.querySelector('#id_commentaire');
                    var idCommandesavField = CommandeSavDisplayForm.querySelector('#id_idcommandesav{{commandesav.idcommandesav}}');

                    if (savrequestField) {
                        savrequestField.value = data.savrequest;
                        savrequestField.setAttribute('disabled', true); // Disable the savrequest field
                    }
                    if (fournisseurField) {
                        fournisseurField.value = data.fournisseur;
                    }
                    if (nombreJourField) {
                        nombreJourField.value = data.nombre_jour;
                    }
                    if (statutField) {
                        statutField.value = data.statut;
                    }
                    if (commentaireField) {
                        commentaireField.value = data.commentaire;
                    }
                    if (idCommandesavField) {
                        idCommandesavField.value = data.idcommandesav ; // Ensure the hidden field is populated
                    }
                    },
                    error: function(error) {
                        console.error('Error fetching CommandeSav details:', error);
                    }
                }); */
      } else {
            console.error('Savrequest field not found for commandesav-id:', CommandeSavDisplayForm);
      }
        
    } else {
        console.error('Form not found for commandesav-id:', CommandeSavDisplayForm);
    }
  })

  
  /*
  $(document).on('click', '#CommandesavUpdData', function(){
  //// Mise a jour ds informations
  var url = $(this).data('url');
  console.log('url:',url)
         
  })
  */
</script>
  
  
{% endblock %}
