<div class="card">
  <div class="card-header d-flex gap-1">
    <h3>Demande SAV</h3>
    <button id="savcreate" class="btn btn-fill-out btn-sm btn-sm ms-auto" 
    data-url="{% url 'serviceapresvente:savrequest-create' %}" >
      ADD New SAV
    </button>
    </div>
    <div class="card-body">
  <div class="table-responsive">
            <table class="table">
       
                <thead>
                    <tr>
                      <th>Date</th>
                        <th>N° Dossier</th>
                        <th>N° Fiche Technique</th>

                        <th>Type SAV</th>
                        <th>Marque</th>
                        <th>Client SAV</th>
                        <th>Resp SAV</th>
                        <th>Statut</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for row in savrequest %}
                <tr>
                  <td>
                    {{ row.created_at|date:"d M Y"  }}
                  </td>
                  <td>
                    {{ row.numero_dossier }}
                  </td>
                  <td>
                    {{ row.numero_fiche_technique }}
                  </td>
                  <td>
                    {{ row.type_sav }}
                  </td>
                  <td>
                    {{ row.marque }}
                  </td>
                  <td>
                    {{ row.client_sav }}
                  </td>
                  <td>
                    {{ row.resp_sav }}
                  </td>
                  <td> <div class="badge bg-success text-white rounded-pill status-cell" >
                    {{ row.statut }} </div>
                  </td>
                  <td class="{% if row.flag == 1 %}disabled-cell{% endif %}">
                      {% include "servicedsi/includes/sav_details.html" with sav_request=row %} 
                  </td>
                </tr>
                {% endfor %}
                  
                </tbody>
            </table>
        </div>
    </div>
</div>