<div class="card">
  <div class="card-header">
        <h3> Logistique</h3>
    </div>
    <div class="card-body">
  <div class="table-responsive">
            <table class="table" id="logistique">
                <thead>
                    <tr>
                      <th>Date création</th>
                      <th>Mise à jour</th>
                      <th>Statut</th>
                      <th>N° Dossier</th>
                      <th>Client</th>
                      <th>Fournisseur</th>
                      <th>Délai</th>
                      <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                  {% for row in suivicommandesavs_list %}
                  <tr>
                    <td>
                        {{ row.created_at|date:"d M Y" }}
                    </td>
                    <td>
                      {{ row.updated_at|date:"d M Y" }}
                     </td>
                     <td> <div class="badge bg-success text-white rounded-pill status-cell">
                      {{ row.statut}}</div>
                     </td>
                     <td>
                      {{ row.commandesav.savrequest.numero_dossier}}
                     </td>
                     <td>
                      {{ row.commandesav.savrequest}}
                     </td>
                     
                     <td>
                      {{ row.commandesav.fournisseur}}
                     </td>
                     <td>
                      {{ row.nombre_jour}}
                     </td>
                     <td class="{% if row.flag == 1 %}disabled-cell{% endif %}"> 
                         <button id="id_SuiviCommandeDetail{{row.idsuivicommandesav}}"  
                         data-url="{% url 'serviceapresvente:suivicommandesav-show' row.idsuivicommandesav %}" 
                         data-modalname="Suivi Comamnde SAV"
                         class="btn btn-fill-out btn-sm commandesav" >View
                         </button>
                      </td>
                  </tr>
                  {% endfor %}
                  
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src='https://code.jquery.com/jquery-3.7.1.js'></script>
<script src='https://cdn.datatables.net/2.1.4/js/dataTables.js'></script>
<script>

  $('#logistique').DataTable({
    lengthMenu: [5,10, 15,20],
    order: [[3, 'desc']],
    pageLength:10 
 });

</script>