<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Soprescom</title>
</head>
<body>

    <center><H1> Welcome to Soprescom</H1></center>

    <center><p></p>
    </center>

   
    <br><br>

    <div class="div row">
        <div class="col-md-12">
            <a href="{% url 'schema-swagger-ui' %}" class="btn btn-primary w-100"> A swagger-ui view of Soprescom API </a>
        </div>
    </div>

    <br> <br>

    <div class="div row">
        <div class="col-md-12">
            <a href="{% url 'schema-redoc' %}" class="btn btn-primary w-100"> A ReDoc view of your API </a>
        </div>
    </div>
   
    <br><br>

   
</body>
</html>

