<div class="card">
  <div class="card-header d-flex gap-1">
    <h3>Instances</h3>
    <button id="id_deploiement_create" class="btn btn-fill-out btn-sm btn-sm ms-auto NewleasingCreate " 
    data-url="{% url 'leasing:deploiement-create' %}" data-modalname="Nouveau déploiement" >
      Ajout Déploiement
    </button>
    </div>
    <div class="card-body">
         <div class="table-responsive">
            <table class="table">
       
                <thead>
                    <tr>
                      <th>Client</th>
                      <th>Site</th>
                      <th>Imprimante</th>
                      <th>@ IP</th>
                      <th>Date déploiement</th>
                      <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for row in deploiement_lists %}
                <tr>
                  <td>
                    {{ row.clientleasing.nom }}
                  </td>
                  <td>
                    {{ row.site }}
                  </td>
                  <td>
                    {{ row.listeimprimante }}
                  </td>
                  <td>
                    {{ row.adresseip}}
                  </td>
                  <td>
                    {{ row.date_deploiement|date:"d M Y"  }}
                  </td>
                  
                  <td >
                    <button  class="btn btn-fill-out btn-sm leasing" 
                             data-url="{% url 'leasing:deploiement-update' row.iddeploiement %}" >Upd</button>
                  </td>
                </tr>
                {% endfor %}
                  
                </tbody>
            </table>
        </div>
        <!-- Pagination-->
        <div class="row">
          <div class="col-12">
              {% include "partials/pagination.html" with datas=deploiement_lists %}
          </div>
        </div> <!-- Fin Pagination-->
    </div>
</div>