<div class="card">
  <div class="card-header d-flex gap-1">
    <h3>Instances</h3>
    <button id="id_imprimantecreate" class="btn btn-fill-out btn-sm btn-sm ms-auto NewleasingCreate " 
    data-url="{% url 'leasing:imp-create' %}" >
      ADD New Printer
    </button>
  </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
       
                <thead>
                    <tr>
                      <th>Numéro série</th>
                      <th>Désignation</th>
                      <th>Description</th>
                      <th>Date acquisition</th>
                      <th>Garantie</th>
                      <th>Fin garantie</th>
                      <th>Déployé (O/N)</th>
                      <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for row in imprimante_lists %}
                <tr>
                  <td>
                    {{ row.numero_serie }}
                  </td>
                 
                  <td>
                    {{ row.designation }}
                  </td>
                  <td>
                    {{ row.description }}
                  </td>
                  <td>
                    {{ row.date_acquisition|date:"d M Y"  }}
                  </td>
                  <td>
                    {{ row.garantie }}
                  </td>
                  <td>
                    {{ row.endoflife|date:"d M Y" }}
                  </td>
                  <td> <div class="badge text-white rounded-pill status-cell" >
                    {{ row.flag }} </div>
                  </td>
                  <td class="{% if row.flag == 1 %}text-warning{% endif %}">
                    {% include "servicedsi/leasing/listeimprimante/details.html" with row=row %}
                    <!--  <button id="id_instanceDetail{{row.idlisteimprimante}}" 
                              data-url="{% url 'leasing:imp-show' row.idlisteimprimante %}" 
                              class="btn btn-fill-out btn-sm instance" >View</button>  -->
                  </td>
                </tr>
                {% endfor %}
                  
                </tbody>
            </table>
        </div>
        <!-- Pagination-->
        <div class="row">
          <div class="col-12">
              {% include "partials/pagination.html" with datas=imprimante_lists %}
          </div>
        </div> <!-- Fin Pagination-->
    </div>
</div>