<!DOCTYPE html>
<html>
<head>
    <title>Compte Client Créé</title>
</head>
<body>
    <p>Bonjour {{ first_name }} {{ last_name }}, la Team SAV</p>
    
    <p>Votre compte client  a été créé avec succès et vous pouvez vous connecter avec les identifiant suivant .</p>
    
    <ul>
        <li>Nom                            : {{ first_name }} {{ last_name }}</li>
        <li>Nom d'Utilisateur              : {{ username }}</li>
        <li>Mot de Passe                   : {{ password }}</li>
        <li>Créé par                       : {{ created_by }}</li>
    </ul>
    
    <p>Vous pouvez vous connecter et acheter vos produits sur notre plateforme.</a>.</p>
    
    
    <p>Cordialement,</p>
    <p>L'équipe SAV</p>
</body>
</html>
