<!DOCTYPE html>
<html>
<head>
    <title>Compte Client Créé</title>
</head>
<body>
    <p>Bonjour {{ First_name }} {{ Last_name }}, la Team SAV</p>
    
    <p>Votre compte client  a été créé avec succès et vous pouvez vous connecter avec les identifiant suivant .</p>
    
    <ul>
        <li>Nom                            : {{ First_name }} {{ Last_name }}</li>
        <li>username                       : {{ username }}</li>
        <li>Mot de Passe                   : {{ password }}</li>
    </ul>
    
    <p>Vous pouvez vous connecter et acheter vos produits sur notre plateforme.</a>.</p>
    
    
    <p>Cordialement,</p>
    <p>L'équipe SAV</p>
</body>
</html>
