<!DOCTYPE html>
<html>
<head>
    <title>Compte Client Désactivé</title>
</head>
<body>
    <p>Bonjour {{ first_name }} {{last_name }}, la Team SAV</p>
    
    <p>Votre compte client  a été désactivé .</p>
    
    <ul>
        <li>Nom                            : {{ first_name }}  {{ last_name }}</li>
        <li>Nom d'Utilisateur              : {{ username }}</li>
        <li>Créé par                       : {{ created_by }}</li>
    </ul>
    
    <p>Veuillez prendre les dispositions afin de réactivé voter compte .</a>.</p>
    
    
    <p>Cordialement,</p>
    <p>L'équipe SAV</p>
</body>
</html>
