<!DOCTYPE html>
<html>
<head>
    <title>Nouvelle Instance SoPresCom</title>
</head>
<body>
    <p>Bonjour {{ client_name }},</p>
    
    <p>Une nouvelle requête SAV a été créée:</p>
    
    <ul>
        <li>Numéro de dossier     : {{ numero_dossier }}</li>
        <li>Type instance         : {{ instance }}</li>
        <li>Client                : {{ client }}</li>
        <li>Responsable action    : {{ resp_name }}</li>
        <li>Action                : {{ action }}</li>
        <li>Statut                : {{ statut }}</li>
     <!--   <li>Contact               : {{ resp_sav_telephone }}</li>   -->
    </ul>
    
    <p>Pour tous compléments d'information, merci d'envoyer un mail au <a href="mailto:sav@soprescom.net">sav@soprescom.net</a>.</p>
    <p>Cordialement,</p>
    <p>L'équipe SAV</p>
    
</body>
</html>
