<!DOCTYPE html>
<html>
<head>
    <title>Reception Pièce</title>
</head>
<body>
    <p>Bonjour {{ resp_sav_name }}, la Team SAV</p>
    
    <p>Demande d'achat.</p>
    
    <ul>
        <li>Numéro de dossier     : {{ numero_dossier }}</li>
        <li>Client                : {{ client_name }}</li>
        <li>Type                  : {{ marque }}</li>
        <li>Numero de série       : {{ num_serie }}</li>
        <li>défaut                : {{ defaut_sav }}</li>
        <li>Responsable de ce SAV : {{ resp_sav_name }}</li>
        <li>Contact               : {{ resp_sav_telephone }}</li>
    </ul>
    
    <p>Veuillez prendre les dispositions afin de clôturer ce dossier.</a>.</p>
    
    
    <p>Cordialement,</p>
    <p>L'équipe Achat et Logistique</p>
</body>
</html>
