<!DOCTYPE html>
<html>
<head>
    <title>Compte Client SAV Créé</title>
</head>
<body>
    <p>Bonjour {{ client_name }}, la Team SAV</p>
    
    <p>Votre compte client SAV a été créé avec succès et vous pouvez vous connecter pour consulter vos différents statuts SAV.</p>
    
    <ul>
        <li>Nom                            : {{ client_name }}</li>
        <li>Username                       : {{ username }}</li>
        <li>Mot de Passe                   : {{ password }}</li>
    </ul>
    
    <p>Veuillez prendre les dispositions afin de suivez vos dossiers .</a>.</p>
    
    
    <p>Cordialement,</p>
    <p>L'équipe SAV</p>
</body>
</html>
