{% load price_filter %}


<!-- Modal -->
<div class="modal fade savdetail" id="CommandeDetailModal" tabindex="-1" aria-labelledby="CommandeDetailModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="CommandeDetailModalLabel">Détails Commande</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div  id="commande-container">     </div>
        <!-- Modal for Zoom Image -->
        <div class="modal fade" id="zoomModal" tabindex="-1" aria-labelledby="zoomModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
              <div class="modal-body">
                <img id="zoomImage" src="" class="img-fluid" alt="Zoom Image">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
              </div>
            </div>
          </div>
        </div>
       
        
      </div>
     
      <div class="modal-footer" id="modalFooter">
       <button id="CommandeSavBtnUpd" class="btn btn-primary"
           data-url="#" >Modifier</button> 
           <button  id="CommandeSavCancel" class="btn btn-secondary" data-bs-dismiss="modal">cancel</button>
      </div>
    </div>
  </div>
</div>


{% block script %}
<script>
$(document).ready(function() {

function hideModalFooter() {
    $('#modalFooter').hide(); // Hide the modal footer element
  }

function resetModal() {
  var commandesavField = document.querySelector('#CommandeSavBtnUpd');
  commandesavField.removeAttribute('disabled'); 
  commandesavField.classList.remove('grayed-out');
  
}




$('#CommandeDetailModal').on('shown.bs.modal', function() {
  resetModal();
 // hideModalFooter();
});

// Hide modal footer when the button is clicked
  $('#CommandeSavBtnUpd').on('click', function() {
    hideModalFooter();
  });
})

</script>
{% endblock %}

