{% extends "serviceapresvente/admin.html" %}
    {% load static %}

    {% block content %}

    {% include "serviceapresvente/admin/paginator.html" with datas=suivicommandesavs %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="d-flex my-2 justify-content-end">
        <a href="{% url suivicommandesav %}" class="btn btn-success">Create SuiviCommandeSav</a>
    </div>
    <table class="table table-bordered">
        <tbody>

                <tr>
        <td scope='col'> Idsuivicommande: </td>
        <td scope='col'>{{ suivicommandesav.idSuiviCommande}}</td>    </tr>    <tr>
        <td scope='col'> Commandesav: </td>
        <td scope='col'>{{ suivicommandesav.commandesav}}</td>    </tr>    <tr>
        <td scope='col'> Statut: </td>
        <td scope='col'>{{ suivicommandesav.statut}}</td>    </tr>    <tr>
        <td scope='col'> Flag: </td>
        <td scope='col'>{{ suivicommandesav.flag}}</td>    </tr>    <tr>
        <td scope='col'> Nombre_jour: </td>
        <td scope='col'>{{ suivicommandesav.nombre_jour}}</td>    </tr>    <tr>
        <td scope='col'> Updated_at: </td>
        <td scope='col'>{{ suivicommandesav.updated_at}}</td>    </tr>    <tr>
        <td scope='col'> Created_at: </td>
        <td scope='col'>{{ suivicommandesav.created_at}}</td>    </tr>    <tr>
        <td scope='col'> Commentaire: </td>
        <td scope='col'>{{ suivicommandesav.commentaire}}</td>    </tr>

        </tbody>
    </table>
    {% include "blog/components/paginator.html" with datas=suivicommandesavs %}


    {% endblock %}