<style>
.custom-radio-input {
    display: inline-block;
    margin-right: 10px;
}

.custom-radio-input input {
    margin-right: 5px;
}
</style>
  
  <form id="savrequestForm" action="{% url 'serviceapresvente:instance-create' %}" 
  method="POST"  enctype="multipart/form-data">
          {% csrf_token %}
   
          <div class="card mb-3" style="max-width: 1800px;">
            <div class="row g-0">
             
              <div class="col-md-12">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="card ">
                        <div class="card-header text center">
                        <strong> Information générale</strong>
                        </div>
                          <div class="card-body">
                            <p class="card-text "  ><strong>Type Instance:</strong> {{ form.type_instance  }}</p>
                            <p class="card-text "  ><strong>Numero dossier:</strong> {{ form.numero_dossier  }}</p>
                            <p class="card-text"  ><strong>Nom du client:</strong> {{ form.client  }}</p>
                            <p class="card-text"><strong>Resp du dossier:</strong> {{ form.responsable }}</p>
                            <p class="card-text"><strong>Rapport technique:</strong> {{ form.rapport_technique }}</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="card ">
                        <div class="card-header text-center">
                        <strong>Detail instance </strong>
                        </div>
                          <div class="card-body">
                            <p class="card-text"><strong>Besoin Client:</strong> {{ form.besoin }}</p>
                            <p class="card-text"><strong>Action:</strong> {{ form.action }}</p>
                            <p class="card-text"><strong>Statut:</strong> {{ form.statut }}</p>
                            
                            <p class="card-text"><strong>
                              <div class="form-check form-switch" id="id_is_facturable">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Instance à facturer? </label>
                                {{ form.is_facturable }}
                              </div>
                             </strong>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                   
              </div>
            </div>
          </div>
            <hr>
      <div class="d-flex gap-1">   
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-success " id="save-btn" >Add</button>
      </div>
  </form> 
   
{% block script %}

<script>

$(document).ready(function() {
  const radioButtonTypeInstance = document.querySelector('input#id_type_instance');
  
  // initialisation des champs
  const handleInstanceClick = (event) => {
    // const {checked} = event.target 
        const selectedradioButtonTypeInstance = radioButtonTypeInstance.value;
        const radioButtonIsFacturable = document.querySelector('input[type="checkbox"]#id_is_facturable');
         console.log('selectedradioButtonTypeInstance:',selectedradioButtonTypeInstance)
         if (selectedradioButtonTypeInstance === 'Interne'){
              radioButtonIsFacturable.setAttribute('disabled', false);
              radioButtonIsFacturable.classList.add('grayed-out');
          
           //console.log(checked)
         } else{
          radioButtonIsFacturable.removeAttribute('disabled', true);
          radioButtonIsFacturable.classList.remove('grayed-out');
           //console.log(checked)
         }
       }

  radioButtonTypeInstance?.addEventListener('change', handleInstanceClick);
  handleInstanceClick();
  

  // gestion recouvrement_hp    
  const idGarantieSelect = document.querySelector('select#id_garantie');
  const idTypeSAVSelect = document.querySelector('select#id_type_SAV');
  const recouvrementHPDiv = document.querySelector('input#id_recouvrement_hp');
  
  function updateRecouvrementHP() {
    
        const selectedGarantie = idGarantieSelect.value;
        const selectedTypeSAV = idTypeSAVSelect.value;
                
        if (selectedGarantie === 'Sous garantie' && selectedTypeSAV === 'DEVEA') {
            recouvrementHPDiv.setAttribute('disabled', true);
            recouvrementHPDiv.setAttribute('checked', true) 
              } else {
            recouvrementHPDiv.setAttribute('disabled', true);
            recouvrementHPDiv.removeAttribute('checked', true) 
            }
        }

  idGarantieSelect?.addEventListener('change', updateRecouvrementHP);
  idTypeSAVSelect?.addEventListener('change', updateRecouvrementHP);

  // Initial call to set the correct state on page load

  updateRecouvrementHP();


/********* Save ******/
 // When the save button is clicked
 const btn_add_save = document.querySelector('button[type="submit"]#save-btn');
 const AddSavRequest = (event) =>{
    
    event.preventDefault(); // Empêcher la soumission si le formulaire est invalide
    var form = $(event.target).closest('form')[0];
    // Re-enable disabled fields for submission
    $(form).find(':disabled').prop('disabled', false);
    var formData = new FormData(form); // Create FormData object
    
    // Validation HTML5
    const formValid = $(event.target).closest('form');
    if (formValid[0].checkValidity() === false) {
      event.stopPropagation();
      formValid.addClass('was-validated');
      return;
    }
    
    
    $.ajax({
      url: form.action,
      type: form.method,
      //data: form.serialize(),
      data: formData,
      processData: false, // Prevent jQuery from automatically transforming the data into a query string
      contentType: false, // Set content type to false to let jQuery set it as multipart/form-data
      success: function(response) {
        //console.log('Form submitted successfully!');
          // Handle the success response (e.g., close modal, show success message, etc.)
          $('#SavResquestModal').modal('hide');
          location.reload();
          //alert('Form submitted successfully!');
      },
      error: function(xhr, status, error) {
          // Handle the error response
          alert('Error: ' + error);
      }
  });
  
 }

 btn_add_save?.addEventListener('click', AddSavRequest);
 

 });
    

</script>


{% endblock script %}