<div class="card">
  <div class="card-header d-flex gap-1">
    <h3>Instances</h3>
    <button id="id_instancecreate" class="btn btn-fill-out btn-sm btn-sm ms-auto " 
    data-url="{% url 'serviceapresvente:instance-create' %}" >
      ADD New Instance
    </button>
    </div>
    <div class="card-body">
  <div class="table-responsive">
            <table class="table">
       
                <thead>
                    <tr>
                      <th>Date</th>
                      <th>Type Instance</th>
                      <th>Client</th>
                      <th>Besoin</th>
                      <th>Resp action</th>
                      <th>Facturable?</th>
                      <th>Statut</th>
                      <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for row in instance_lists %}
                <tr>
                  <td>
                    {{ row.created_at|date:"d M Y"  }}
                  </td>
                 
                  <td>
                    {{ row.type_instance }}
                  </td>
                  <td>
                    {{ row.client }}
                  </td>
                  <td>
                    {{ row.besoin }}
                  </td>
                  <td>
                    {{ row.responsable }}
                  </td>
                  <td>
                    {{ row.is_facturable }}
                  </td>
                  <td> <div class="badge text-white rounded-pill status-cell" >
                    {{ row.statut }} </div>
                  </td>
                  <td class="{% if row.flag == 1 %}disabled-cell{% endif %}">
                     {#  {% include "servicedsi/includes/instance_details.html" with instance=row %}  #}
                      <button id="id_instanceDetail{{row.idinstance}}" 
                              data-url="{% url 'serviceapresvente:instance-show' row.idinstance %}" 
                              class="btn btn-fill-out btn-sm instance" >View</button>
                  </td>
                </tr>
                {% endfor %}
                  
                </tbody>
            </table>
        </div>
    </div>
</div>