{% load price_filter %}

<a href="#" class="btn btn-fill-out btn-sm " 
          data-bs-toggle="modal" 
          data-bs-target="#SavDetailModal{{instance.idinstance}}" >
           View
</a>

<!-- Modal -->
<div class="modal fade savdetail" id="SavDetailModal{{instance.idinstance}}" tabindex="-1" aria-labelledby="SavDetailModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="SavDetailModalLabel">Détails du SAV: {{ instance.numero_dossier }}</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card mb-3" style="max-width: 1800px;">
          <div class="row g-0">
            <div class="col-md-5">
                  <div id="imageContainer{{ instance.idinstance }}">
                    {% if instance.rapport_technique %} 
                    <img src="{{ instance.rapport_technique.url }}" class="img-fluid rounded-start" alt="Rapport Technique" onclick="zoomImage(this)">
                    {% else %}
                    <p>Aucune image disponible</p>
                    {% endif %}
                  </div>
                  <div class="d-flex justify-content-between mt-2">
                    <button class="btn btn-secondary" onclick="changeImage('prev', {{ instance.idinstance }})">Précédent</button>
                    <button class="btn btn-secondary" onclick="changeImage('next', {{ instance.idinstance }})">Suivant</button>
                  </div>
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-10">
                    <div class="card ">
                    <div class="card-header text center">
                    <strong> Detail Client</strong>
                    </div>
                      <div class="card-body">
                        
                        <p class="card-text"><strong>Nom du client:</strong> {{ instance.client }}</p>
                        <p class="card-text"><strong>Email:</strong> {{ instance.client.email }}</p>
                        <p class="card-text"><strong>Adresse:</strong> {{ instance.client.adresse }}</p>
                        <p class="card-text"><strong>Téléphone:</strong> {{ instance.client.telephone }}</p>
                        
                      </div>
                    </div>
                  </div>
                <!--  <div class="col-sm-6">
                    <div class="card ">
                    <div class="card-header text-center">
                      <strong>Info Instance</strong>
                      </div>
                    <div class="card-body">
                        <p class="card-text"><strong>Date création:</strong> {{ instance.created_at }}</p>
                         <p class="card-text"><strong>Besoin:</strong> {{ instance.besoin }}</p>
                         <p class="card-text"><strong>Action:</strong> {{ instance.action }}</p>
                         <p class="card-text"><strong>Resp du dossier:</strong> {{ instance.responsable }}</p>
                         <p class="card-text"><strong>
                          <div class="form-check form-switch" id="id_is_facturable">
                            <input class="form-check-input" type="checkbox" id="id_is_facturable{{ forloop.counter }}"  {% if instance.is_facturable %}checked{% else %}disabled{% endif %}>
                            <label class="form-check-label" for="flexSwitchCheckDefault">Instance à facturer </label>
                          </div>
                         </strong>
                        </p>
                      </div>
                    
                    </div>
                  </div>  -->
                </div>
                <hr>
                <div class="row">
                  <div class="card">
                    <div class="card-header text center">
                      <strong>Execution instance</strong>
                    </div>
                    <div class="card-body">
                      <p class="card-text"><strong>Date création:</strong> {{ instance.created_at }}</p>
                       <p class="card-text"><strong>Besoin:</strong> {{ instance.besoin }}</p>
                       <p class="card-text"><strong>Action:</strong> {{ instance.action }}</p>
                       <p class="card-text"><strong>Resp du dossier:</strong> {{ instance.responsable }}</p>
                       <p class="card-text"><strong>Rapport technique:</strong> {{ instance.rapport_technique }}</p>
                       <p class="card-text"><strong>
                        <div class="form-check form-switch" id="id_is_facturable" disabled>
                          <input class="form-check-input" type="checkbox" id="id_is_facturable{{ forloop.counter }}"  {% if instance.is_facturable %}checked{% else %}disabled{% endif %} >
                          <label class="form-check-label" for="flexSwitchCheckDefault">Instance à facturer </label>
                        </div>
                       </strong>
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <form class="d-none"  id ="instanceForm{{instance.idinstance}}"
                    method="POST"
                    action="{% url 'serviceapresvente:instance-update' instance.idinstance %}">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-header text center">
                          <strong>Mise à jour instance</strong>
                        </div>
                        <div class="card-body">
                            <input type="hidden" name="_method" value = "PUT">
                              {{ instance_detail }}
                            <button type="submit"  id="formCommandeUpdData"
                                      class="btn btn-primary">Update</button>
                        </div>
                      </div>
                  
                  </form>  
                </div>  
              </div>
            </div>
          </div>
        </div>
      
        <!-- Modal for Zoom Image -->
        <div class="modal fade" id="zoomModal" tabindex="-1" aria-labelledby="zoomModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
              <div class="modal-body">
                <img id="zoomImage" src="" class="img-fluid" alt="Zoom Image">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
              </div>
            </div>
          </div>
        </div>
        <p class="card-text"><small class="text-muted">Dernière mise à jour: {{ instance.updated_at |date:"d M Y" }}</small></p>
      </div>
     
      <div class="modal-footer">
        <button data-url="{% url 'serviceapresvente:instance-update' instance.idinstance %}" id="InstanceDisplayForUpdate" class="btn btn-primary">Modifier</button>
        <button data-url="{% url 'serviceapresvente:instance-delete' instance.idinstance %}" id="Instancedetaildelete" class="btn btn-secondary">Fermer</button>
      </div>
    </div>
  </div>
</div>

{% block script %}
<script>
$(document).ready(function() {
  const images = {
    rapport: "{{ instance.rapport_techniqueUrl|escapejs   }}",
    proforma: "{{ instance.facture_proformaUrl|escapejs  }}",
    fournisseur: "{{ instance.facture_fornisseurUrl|escapejs  }}"
  };
  console.log('images:',images)
  let currentIndex = 0;
  const imageKeys = Object.keys(images).filter(key => images[key]);
  console.log('imageKeys:',imageKeys)
  function changeImage(direction, requestId) {
    if (direction === 'next') {
      currentIndex = (currentIndex + 1) % imageKeys.length;
    } else if (direction === 'prev') {
      currentIndex = (currentIndex - 1 + imageKeys.length) % imageKeys.length;
    }
    const imageContainer = document.getElementById(`imageContainer${requestId}`);
    imageContainer.innerHTML = `<img src="${images[imageKeys[currentIndex]]}" class="img-fluid rounded-start" alt="Image" onclick="zoomImage(this)">`;
  }

  function zoomImage(img) {
    var modal = new bootstrap.Modal(document.getElementById('zoomModal'));
    document.getElementById('zoomImage').src = img.src;
    modal.show();
  }

})
</script>

{% endblock %}
