{% extends "serviceapresvente/admin.html" %}
    {% load static %}

    {% block content %}
    
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    
    <div class="d-flex my-2 justify-content-end">
        <a href="{% url sav_request %}" class="btn btn-success">Edit Sav_request</a>
    </div>
    
    {% include "sav_request_form.html" with sav_request=sav_request %}


    {% endblock %}